.hero-section {
  height: 680px;
  box-shadow: 0 37px 37px -15px rgba(0, 38, 78, 0.24);
  position: relative;
  &__item {
  height: 100%;
  width: 100%;
  background-image: url('../../img/Hero-Slider.jpg');
  position: relative;
  }
  &__body {
    position: absolute;
    top: 160px;
    left: 80px;
    width: 528px;
  }
  &__body-text {
    font-size: 22px;
    line-height: 32px;
  }
  &__body-text + .btn--md {
    margin-top: 48px;
  }
  &__title {
    margin-bottom: 34px;
  }
  &__first-word, &__second-word {
    font-size: 40px;
    text-transform: uppercase;
  }
  &__first-word {
    font-weight: 900;
    color: $black;
  }
  &__second-word {
    color: $dark-blue;
    font-weight: 300;
  }
}