    <div class="container block-with-square">
      <div class="block-with-square__square">
        <div class="block-with-square__square-content">
          
        </div>
      </div>
      <div class="block-with-square__text-block">
      <div class="block-with-square__square-text">
            <div class="block-with-square__square-title">Общение</div>
              <p class="block-with-square__square-subtitle">в рамках бизнеса</p>
          </div>
      <div class="block-with-square__text">
        Proclub.online не является социальной сетью или агрегатором личных блогов. 
        Proclub.online направлен исключительно на общение в рамках бизнеса. МЫ хотим, 
        чтобы пользователями портала постоянно в режиме реального времени была доступна 
        любая релевантная бизнес-информация, поэтому Proclub.online решает конкретные 
        задачи
      </div>
      </div>
    </div>