<div class="container">
  <div class="hero-section">
    <div class="hero-section__item">
      <div class="hero-section__body">
        <div class="hero-section__title">
          <span class="hero-section__first-word">
            Proclub</span>
          <span class="hero-section__second-word">.On line</span>
        </div>
        <p class="hero-section__body-text">
          Это уникальная международная площадка, организующая общение между крупнейшими 
          промышленными компаниями, лучшими школами MBA, их выпускниками и студентами. 
        </p>
        <a href="" class="btn btn--md btn--wide btn--blue">Call to Action</a>
      </div>
    </div>
  <div class="hero-section__item">
      <div class="hero-section__body">
        <div class="hero-section__title">
          <span class="hero-section__first-word">
            Proclub</span>
          <span class="hero-section__second-word">.On line</span>
        </div>
        <p class="hero-section__body-text">
          Quia aliquam maiores nulla, iste quae hic soluta.
          Impedit ut recusandae architecto, saepe minus tempora nemo!
          Culpa quasi consequatur voluptates error odit enim sit.
          Animi ex similique accusamus saepe eveniet voluptatum excepturi!
          Porro obcaecati quis ratione delectus! Rem, tempora molestiae!
          In tempora nostrum, quisquam nihil temporibus et perferendis!
          Eveniet ab commodi sint! Omnis explicabo recusandae magnam.
        </p>
        <a href="" class="btn btn--md btn--wide btn--blue">Call to Action</a>
      </div>
    </div>
  </div>
</div>