<div class="container hero-section">
    <div class="hero-section__body">
      <div class="hero-section__title">
        <span class="hero-section__first-word">
          Proclub</span>
        <span class="hero-section__second-word">.On line</span>
      </div>
      <p class="hero-section__body-text">
        Это уникальная международная площадка, организующая общение между крупнейшими 
        промышленными компаниями, лучшими школами MBA, их выпускниками и студентами. 
      </p>
      <a href="" class="btn btn--md btn--wide btn--blue">Call to Action</a>
    </div>
</div>