<div class="join-us">
  <div class="join-us__content">
    <div class="join-us__text">
      Если вы являетесь представителем промышленной индустрии, представителем школы
      или программы курса MBA, выпускником или студентом/абитуриентом школы MBA,
      тогда регистрация на Proclub.online может быть вам полезна.
    </div>
    <a  href="#" class="btn btn--md btn--wide btn--white">Присоединиться</a>
  </div>
</div>