<div class="our-mission">
  <h2>Наша миссия</h2>
  <p class="our-mission__paragraph">
    Решить проблему беспрепятственного информационного обмена между востребованными 
    участниками промышленной отрасли на уровне топовых специалистов. 
  </p>
</div>